@model IEnumerable<RecipeeAPP.Models.Recipe>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <form  method="get" asp-action="Index">
        <p>
            Title: <input type="text" placeholder="Enter Title or Description" value="@ViewData["GetRecipeDetails"]" name="searchString" />

            <input type="submit" value="Filter" />
        </p>
    </form>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utensils)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Utensils)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RecipeID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.RecipeID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RecipeID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
